<div class="container pb-5 mb-5">

  <div class="d-flex justify-content-between">
    <h1>Inscription aux tournois adultes</h1>
    <% if policy(@tournois).new? %>
      <%= link_to 'Créer un tournoi', new_tournoi_path, class: 'btn btn-primary'%>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= render 'shared/textes/Inscription_tournois_adultes' %>
    </div>
    <div class="col-sm">
      <% @tournois.each do |tournoi| %>
        <% if tournoi.date_tournoi > Date.today %>
          <div class="card text-center mb-4">
            <div class="card-header">
              <%= tournoi.nom %>
              <%= tournoi.ville %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= tournoi.date_tournoi %>
                <%= tournoi.catégories %>
              </h5>
              <p class="card-text">Inscription jusuq'au: <%= tournoi.inscription_max %></p>
              <br>
              <%= link_to "Je m'inscris", tournoi_inscriptions_tournois_path(tournoi), class: 'btn btn-primary', method: :post %>
              <a href="#" class="btn btn-primary">Je me désinscris</a>
              <% if policy(tournoi).destroy? %>
                <%= link_to 'Supprimer le tournoi', tournoi_path(tournoi), class: 'btn btn-primary', confirmation: 'Etes-vous sur de vouloir supprimer ce tournoi?', method: :delete %>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <p>Il te reste <%= (tournoi.inscription_max - Date.today).to_i %> jours pour t'inscrire!</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
