<div class="container pb-5 mb-5">
  <div class="grid-3 pt-4">

    <div class="carte-user text-center">
      <p><%= image_tag("baco.jpeg", :alt => "BACO logo", :class => "avatar") %></p>
      <span><%= current_user.prenom %></span>
      <span class="bold"><%= current_user.nom %></span>
      <p>Numéro de licence: <%= current_user.num_licence %></p>
    </div>

    <div class="carte-user text-center">
      <h2 class="text-center">Tes tournois</h2>
      <% if @inscriptions_tournoi_user.empty? %>
        <p>Tu n'as pas de tournois prévus!!</p>
      <% else %>
        <div class="col-sm">
          <% @inscriptions_tournoi_user.each do |inscription| %>
          <%# vérifier si la condition si dessous fonctionne bien j'en doute %>
            <% if inscription.tournoi.inscription_max > Time.now || inscription.tournoi.inscription_max = Time.now %>
              <div class="card text-center mb-4">
                <div class="card-header">
                  <%= inscription.tournoi.inscription_max %>
                  <%= inscription.tournoi.nom %>
                  <%= inscription.tournoi.ville %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= inscription.tournoi.nom %>
                  </h5>
                </div>
                <div class="card-footer text-muted">
                  <% if !inscription.validation_inscription_tournoi %>
                    <a href="#" class="btn btn-primary">Se désinscrire</a>
                  <% else %>
                    <p>Pour annuler votre inscription, merci de contacter le Baco pour avoir la marche à suivre.</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
